.parent{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
  
    /* border: 2px solid black; */
}
.ch1{
   border: 2px solid black;
   grid-row-start: 1;
   grid-row-end: 4;
   background-color: black;
   height: 100vh;
   color: white;
}
.ch2{
    border: 2px solid black;
  grid-column-start: 2;
  grid-column-end: 6;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 800;
  background-color: yellow;
 }
 .ch3{
    border: 2px solid black;
    margin: 20px;
    border-radius: 20px;
    width: 23vh;
    height: 23vh;
    display: inline-block;
    align-items: center;
    background-color: pink;
    text-align: center;
    flex-wrap:wrap ;
 }
 .ch3 h5{
   text-align: center;
   font-size: 25px;
   fon
 }
 .ch3 p{
   font-size: 20px;
}
.ch4{
      border: 2px solid black;
      margin: 20px;
      border-radius: 20px;
      width: 23vh;
      height: 23vh;
      display: inline-block;
      align-items: center;
      background-color: lightblue;
      text-align: center;
      flex-wrap:wrap ;
   }
.ch4 h5{
      text-align: center;
      font-size: 25px;
      fon
    }
.ch4 p{
      font-size: 20px;
}
.ch5{
   border: 2px solid black;
   margin: 20px;
   border-radius: 20px;
   width: 23vh;
   height: 23vh;
   display: inline-block;
   align-items: center;
   background-color: aqua;
   text-align: center;
   flex-wrap:wrap ;
}
.ch5 h5{
   text-align: center;
   font-size: 25px;
 }
.ch5 p{
   font-size: 20px;
   margin-bottom:
}
.ch6{
   border: 2px solid black;
   margin: 20px;
   border-radius: 20px;
   width: 23vh;
   height: 23vh;
   display: inline-block;
   align-items: center;
   background-color: rgb(47, 255, 182);
   text-align: center;
   flex-wrap:wrap ;
}
.ch6 h5{
   text-align: center;
   font-size: 25px;
 }
.ch6 p{
   font-size: 20px;
   margin-bottom:
}