body{
    background-color: lightseagreen;
}

p{
  background-color: brown;
}
h3{
    background-color: cornflowerblue;
}
.head1{
    background-color: blueviolet;
}
.h1{
    background-color: aliceblue;
}
